.head{
}
.image{
    display: flow;
    width: 40%;
}
.name{
    display: flow;
    width: 40%;
}
.list{
    margin-left: 13px;
    text-align: left;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 50%;
    flex-direction: column;

}